Repository dstoianov/home-control-service, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, repo, frontend, config, wsdl, test, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler?version=v3
# all labels must exist or create manually earlier
# Add 'repo' label to any root file changes
workflows:
  - .github/**/*

# Add 'repo' label to any root file changes
repo:
  - ./*

frontend:
  - any: [ 'src/**/*.html', 'src/**/*.js', 'src/**/*.css' ]

config:
  - any: [ 'src/**/*.yml', 'src/**/*.properties', 'src/**/*.xml' ]

wsdl:
  - any: [ 'src/**/*.wsdl' ]

test:
  - src/test/**/*

documentation:
  - '*.md'
  - '*.adoc'

test ci flow release
  .github/workflows/maven-pr-compile.yml
  .github/workflows/maven-release.yml
Labels: workflows

[ci skip]prepare release home-control-service-0.1.1
  pom.xml
Labels: repo

[ci skip]prepare for next development iteration
  pom.xml
Labels: repo

[ci skip]prepare release home-control-service-0.1.2
  pom.xml
Labels: repo

[ci skip]prepare for next development iteration
  pom.xml
Labels: repo

[ci skip]prepare release home-control-service-0.1.3
  pom.xml
Labels: repo

[ci skip]prepare for next development iteration
  pom.xml
Labels: repo

[ci skip] shoud skipp
  .github/workflows/maven-release.yml
  readme.adoc
Labels: workflows, repo, documentation

[ci skip] should skipp -2
  .github/workflows/maven-release.yml
Labels: workflows

[skip ci] should skipp - 3
  .github/workflows/maven-release.yml
Labels: workflows

[ci skip] should skipp - 4
  .github/workflows/maven-release.yml
Labels: workflows

[ci skip] should skipp - 5
  .github/workflows/maven-release.yml
Labels: workflows

[ci skip] should skipp - 6
  .github/workflows/maven-release.yml
Labels: workflows

[ci skip] should skipp - 7
  .github/workflows/maven-release.yml
Labels: workflows

[ci skip]prepare release home-control-service-0.1.4
  pom.xml
Labels: repo

[ci skip]prepare for next development iteration
  pom.xml
Labels: repo

[ci skip] should skipp - 8
  .gitignore
Labels: repo

[ci skip]prepare release home-control-service-1.2.0
  pom.xml
Labels: repo

[ci skip]prepare for next development iteration
  pom.xml
Labels: repo

[ci skip] should skipp - 9
  pom.xml
Labels: repo

[ci skip]prepare release v1.2.0
  pom.xml
Labels: repo

[ci skip]prepare for next development iteration
  pom.xml
Labels: repo

[ci skip]prepare release v1.2.1
  pom.xml
Labels: repo

[ci skip]prepare for next development iteration
  pom.xml
Labels: repo

[ci skip]prepare release v1.2.2
  pom.xml
Labels: repo

[ci skip]prepare for next development iteration
  pom.xml
Labels: repo

CRUD for categories
  pom.xml
  readme.adoc
  src/main/java/se/techinsight/Application.java
  src/main/java/se/techinsight/TestService.java
  src/main/java/se/techinsight/dto/CategoryDto.java
  src/main/java/se/techinsight/dto/Record.java
  src/main/java/se/techinsight/model/Category.java
  src/main/java/se/techinsight/repository/CategoryRepository.java
  src/main/java/se/techinsight/service/CategoryService.java
  src/main/java/se/techinsight/web/CategoryController.java
  src/main/java/se/techinsight/web/MainController.java
  src/main/resources/application.yml
  src/main/resources/sql/create_db_and_user.sql
  src/main/resources/static/img/favicon.ico
  src/main/resources/templates/category/edit.html
  src/main/resources/templates/category/list.html
  src/main/resources/templates/category/new.html
  src/main/resources/templates/fragments/footer.html
  src/main/resources/templates/fragments/header.html
  src/main/resources/templates/fragments/layout.html
  src/main/resources/templates/record/new.html
Labels: repo, documentation

commit uncommented
  local-dev/docker-compose.yml
  src/main/java/se/techinsight/dto/ExpenseDto.java
  src/main/java/se/techinsight/model/Expense.java
  src/main/java/se/techinsight/repository/ExpenseRepository.java
  src/main/java/se/techinsight/service/ExpenseService.java
  src/main/java/se/techinsight/web/CategoryController.java
  src/main/java/se/techinsight/web/ExpenseController.java
  src/main/resources/templates/category/add.html
  src/main/resources/templates/category/list.html
  src/main/resources/templates/expense/add.html
  src/main/resources/templates/fragments/layout.html
  src/main/resources/templates/index.html
  src/main/resources/templates/index2.html
Labels: none
